# ==================================================
# MACHINE LEARNING PROJECT
# NHẬN DIỆN THÓI QUEN NGƯỜI DÙNG
# ==================================================

# ======================
# IMPORT THƯ VIỆN
# ======================

import pandas as pd
import matplotlib.pyplot as plt

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

from sklearn import tree

# ======================
# TẠO DỮ LIỆU
# ======================

raw_data = {

    "hour": [
       6 ,7, 7.5 , 8 , 8.5, 9 , 9.5, 10 , 10.5, 11 , 11.5 ,
       12, 12.5, 13, 13.5 ,14 , 14.5, 15 , 15.5, 16, 16.5,
       17, 17.5, 18, 18.5, 19, 19.5, 20, 20.5, 21, 21.5 ,22, 22.5,23
    ],

    "app": [
        "sleep",
        "study",
        "study",
        "study",
        "study",
        "study",
        "study",
        "study",
        "study",
        "study",
        "study",

        "eat",
        "sportify",
        "youtube",
        "tiktok",
        "study",
        "study",
        "study",
        "study",
        "study",
        "study",
        "exercise",
        "exercise",
        
        "sportify",
        "sportify",
        "eat",
        "game",
        "game",
        "game",
        "homework",
        "homework",
        "sleep",
        "sleep",
        "sleep"
        
    ],

    "duration": [
        0,
        60,
        30,
        30,
        30,
        30,
        30,
        30,
        30,
        30,
        30,
        
        30,
        30,
        30,
        30,
        30,
        30,
        30,
        30,
        30,
        30,
        30,
        30,
        
        
        30,
        30,
        30,
        30,
        30,
        30,
        30,
        30,
        0,
        0,
        0
    ],

    "result": [
        "sleep",
        "study",
        "study",
        "study",
        "study",
        "study",
        "study",
        "study",
        "study",
        "study",
        "study",

        "eat",
        "entertainment",
        "entertainment",
        "entertainment",
        "study",
        "study",
        "study",
        "study",
        "study",
        "study",
        "exercise",
        "exercise",

        "entertainment",
        "entertainment",
        "eat",
        "gaming",
        "gaming",
        "gaming",
        "study",
        "study",
        "sleep",
        "sleep",
        "sleep"
        
    ]
}

# ======================
# TẠO DATAFRAME
# ======================

data = pd.DataFrame(raw_data)

print("\n========== DATA ==========")
print(data)

# ======================
# ENCODE DỮ LIỆU
# ======================

app_encoder = LabelEncoder()
result_encoder = LabelEncoder()

data["app"] = app_encoder.fit_transform(data["app"])

data["result"] = result_encoder.fit_transform(data["result"])

print("\n========== DATA SAU ENCODE ==========")
print(data)

# ======================
# TÁCH INPUT / OUTPUT
# ======================

X = data[["hour", "app", "duration"]]

y = data["result"]

# ======================
# CHIA DỮ LIỆU
# ======================

X_train, X_test, y_train, y_test = train_test_split(
    X,
    y,
    test_size=0.3,
    random_state=42
)

# ======================
# TẠO MODEL AI
# ======================

model = DecisionTreeClassifier(
    random_state=42
)
# ======================
# TRAIN MODEL
# ======================

model.fit(X_train, y_train)

print("\n========== TRAIN SUCCESS ==========")

# ======================
# DỰ ĐOÁN DỮ LIỆU MỚI
# ======================

# app = none
app_value = app_encoder.transform(["sleep"])[0]

# dữ liệu mới:
# hour = 22
# app = none
# duration = 0

new_data = [[22, app_value, 0]]

prediction = model.predict(new_data)

final_result = result_encoder.inverse_transform(prediction)

print("\n========== PREDICTION ==========")
print("Hành vi dự đoán:")
print(final_result)

# ======================
# ĐỘ CHÍNH XÁC
# ======================

y_pred = model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)

print("\n========== ACCURACY ==========")
print(f"Accuracy: {accuracy * 100:.2f}%")

# ======================
# CONFUSION MATRIX
# ======================

cm = confusion_matrix(y_test, y_pred)

print("\n========== CONFUSION MATRIX ==========")
print(cm)

# ======================
# CLASSIFICATION REPORT
# ======================

print("\n========== CLASSIFICATION REPORT ==========")

print(classification_report(y_test, y_pred))

# ======================
# BIỂU ĐỒ
# ======================

plt.figure(figsize=(8,5))

plt.bar(data["hour"], data["duration"])

plt.xlabel("Hour")
plt.ylabel("Duration")
plt.title("Phone Usage Duration")

plt.show()

# ======================
# VẼ DECISION TREE
# ======================

plt.figure(figsize=(12,8))

tree.plot_tree(
    model,
    filled=True,
    feature_names=["hour", "app", "duration"]
)

plt.title("Decision Tree")

plt.show()
